{{ partial "header.html" . }}

	<div class="main-content list" role="main">
		{{- if not .IsHome}}
		{{- with .Title }}
		<header class="page-header">
			<h1 class="page-header__title">{{ . }}</h1>
		</header>
		{{- end }}
		{{- end }}
		{{- with .Content }}
		<div class="page-content">
			{{ . }}
		</div>
		{{- end }}
		{{- if .IsHome }}
			{{- $postSections := ($.Param "postSections" | default (slice "post")) }}
			{{- $paginator := .Paginate ( where .Data.Pages "Section" "in" $postSections ) }}
			{{- range $paginator.Pages }}
				{{- .Render "summary" }}
			{{- end }}
		{{- end }}
		{{ range .Data.Pages }}
			{{ if isset .Params "home" }}
	  			{{ .Render "onepagestyle" }}
  			{{ end }}
		{{ end }}

	</div>

{{ partial "footer.html" . }}