{{ partial "header.html" . }}

<div class="" role="main" itemprop="mainContentOfPage">
	<article class="post">
		<header class="post__header clearfix">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- if or (not .Date.IsZero) .Params.categories }}
			<p class="post__meta meta">
				{{- if .Params.categories }}
				<span class="post__meta-categories meta-categories">
					<svg class="icon icon-category" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m7 2l1 2h8v11h-16v-13z"/></svg>
					{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a class="meta-categories__link" href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}" rel="category">{{ . }}</a>{{ end }}</span>
				{{- end }}
			</p>
			{{- end }}
		</header>
		<div class="post__content clearfix">
			{{- if .Params.thumbnail }}
			<figure class="post__thumbnail">
				<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
			</figure>
			{{- end }}
			{{ .Content }}
		</div>
		{{ partial "post_tags.html" . }}
	</article>
	{{ partial "authorbox.html" . }}
	{{ partial "post_nav.html" . }}
	{{ partial "comments.html" . }}
</div>

{{ partial "footer.html" . }}
